# Terraform
# Terraform sensitive files
**/*.tfplan
**/*.tfplan.json
**/*.tfstate
**/*.tfstate.*
**/*.tfvars
!**/*.tfvars.example
**/.terraform/
**/.terraform.lock.hcl

# Секреты
*.tfvars
!*.tfvars.example
bootstrap-outputs.json

# Локальные файлы
*.log
.DS_Store